/* Variables */
:root {
    --bodyPad: 20%;
}

main {
    padding: 40px 0 0 0;
}

.share-encouragement, .related-articles, .comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0 40px 0;
}

.share-encouragement {
    padding-bottom: 0;
}

.share-encouragement p {
    width: 100%;
    text-align: center;
}

.share-encouragement .socials {
    gap: 15px !important;
}

.share-encouragement .socials a {
    height: 30px !important;
    width: 30px !important;
    padding: 7px !important;
}

.comments {
    padding-bottom: 0;
}

.related-articles h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.related-articles .posts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.related-articles article.article.adjustable {
    width: 13em;
}

h1 {
    margin: 0;
}

.postinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    display: flex;
    align-items: center;
}

.postinfo p {
    margin-top: -2px;
    color: #686868;
    font-size: 0.95em;

    display: flex;
    align-items: center;
}

.postinfo span {
    background-color: #b5b5b5;
    height: 1em;
    margin-top: -1em;
    
    width: 1px;
}

h2.description {
    color: #404040;
    font-style: italic;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    margin-top: 0;
}

hr {
    box-sizing: border-box;
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(227, 227, 227);
    margin: 2em auto 2em auto;
}


main > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1em;
}

article img {
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 10px;
}

article h2 {
    margin-top: 1.5em;
    margin-bottom: -10px;
    font-size: 2em;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 2px;
    color: #222222;
}

article h3 {
    font-size: 1.5em;
    margin-bottom: -15px;
}

article ul {
    list-style-type: square;
    font-size: 1em;
    padding-left: 25px;
}

.youtube {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;

    border-radius: 1em;
}

/* Base Code */
code {
    border-radius: 4px;
    padding: 0 5px 0 5px !important;
}

p > code * {
    color: white !important;
}

/* Multi Line Code */
pre code {
    padding: 20px !important;
    border-radius: 10px;
}

article a {
    color: #3f6ff4;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

main .socials, .share-encouragement .socials {
    gap: 5px;
}

main .socials a, .share-encouragement .socials a{
    background-color: black;
    width: 25px;
    height: 25px;
    padding: 5px;
    box-sizing: border-box
}

main .socials a:hover, .share-encouragement .socials a:hover {
    background-color: #373737;
}

main .socials img, .share-encouragement .socials img {
    filter: invert(1);
}