/* Variables */
:root {
    --bodyPad: 20%;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: white;
    overflow-x: hidden;
}

main {
    padding: 15px 0 0 0;
}

.share-encouragement, .related-articles, .comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0 40px 0;
}

.share-encouragement {
    padding-bottom: 0;
}

.share-encouragement p {
    width: 100%;
    text-align: center;
}

.share-encouragement .socials {
    gap: 15px !important;
}

.share-encouragement .socials a {
    height: 30px !important;
    width: 30px !important;
    padding: 7px !important;
}

.comments {
    padding-bottom: 0;
}

.related-articles h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.related-articles .posts-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
}

.related-articles article.article.adjustable {
    width: 13em;
}

.related-articles article #info {
    background-color: #fafafa;
}

h1 {
    margin: 0;
    font-size: 3em;

    font-weight: 700;
    color: #000000;

    word-break: initial;
    /* -webkit-hyphens: auto;
    hyphens: auto;
    -ms-hyphens: auto; */
}

h2.description {
    color: #404040;
    text-decoration: none;
    font-variation-settings: "ital" 5;
    font-weight: 500;
    margin-top: 0;
    
}

main > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1.5em;

    transition: aspect-ratio 450ms, border-radius 550ms;
}

#articleDivider {
    display: none;
    margin: 1em auto 1em auto;
    width: 95%;
}

@media screen and (max-width: 7.5in) {
    h1 {
        font-size: 2em;
    }

    h2.description {
        font-size: 1.5em;
    }

    article h2 {
        font-size: 2em !important;
    }
}

@media screen and (max-width: 7in) {
    main > img {
        /* aspect-ratio: 1/1;
        border-radius: 1em; */

        width: 100vw;
        border-radius: 0;
        aspect-ratio: 4/3;
        position: relative;
        left: 50%;
        translate: -50%;
    }
}

@media screen and (max-width: 5.2in) {
    .split {
        flex-direction: column !important;
        align-items: flex-start !important;
        
        gap: 10px;
    }

    #articleDivider {
        display: block;
    }
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
}

.postinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    display: flex;
    align-items: center;
}

.postinfo p {
    margin-top: -2px;
    margin-bottom: 0;
    color: #686868;
    font-size: 0.95em;

    line-height: 1em;

    display: flex;
    align-items: center;
}

.postinfo span {
    background-color: #b5b5b5;
    height: 1em;
    
    width: 1px;
}

hr {
    box-sizing: border-box;
    width: 90%;
    border: none;
    border-bottom: 1px solid rgb(227, 227, 227);
    margin: 2em auto 2em auto;
}

article img {
    margin: 10px 0 10px 0;
    width: 100%;
    border-radius: 1em;
}

article p {
    font-size: 1.2em;
}

article h2 {
    margin-top: 1em;
    margin-bottom: -10px;
    font-size: 2.5em;

    text-decoration: none;
    color: #131313;
}

article h3 {
    font-size: 1.75em;
    margin-bottom: -15px;

    color: #151515;
}

article ul {
    list-style-type: square;
    font-size: 1em;
    padding-left: 25px;
}

.youtube {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;

    border-radius: 1em;
}

/* Base Code */
code {
    border-radius: 4px;
    padding: 0 5px 0 5px !important;
}

p > code * {
    color: white !important;
}

/* Multi Line Code */
pre code {
    padding: 20px !important;
    border-radius: 10px;
}

article a {
    color: #3f6ff4;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

main .socials, .share-encouragement .socials {
    gap: 5px;
}

main .socials a, .share-encouragement .socials a{
    background-color: #2d2d2d;
    width: 30px;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;

    transition: all 2   50ms;
}

main .socials a:hover, .share-encouragement .socials a:hover {
    background-color: #595959;
}

main .socials img, .share-encouragement .socials img {
    filter: invert(1);
}