@media screen and (max-width: 5in) {
    :root {
        --bodyPad: 50px
    }
}

h2 {
    font-size: 2em;
    font-weight: 900;
    font-stretch: 110%;
}

#highlights {
    padding: 25px 0 25px 0;
}

/* Highlighted article */
.highlight-article {
    font-size: 2em;
    width: 100%;

    padding: 25px 0 25px 0;
    background-color: #ffffff;

    background-position: 50%;
}

.highlight-article #article-title {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.highlight-article #article-description {
    margin: 0;
    font-size: 0.7em;
    font-weight: normal;
}

.highlight-article #article-dateFormats {
    position: relative;
    font-size: 0.5em !important;
}

.highlight-article .article {
    display: grid;
    grid-template-columns: calc(50% - 12.5px) auto;
    gap: 25px;
}

.highlight-article .article img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: calc(var(--cardRadius) * 2);
}

.highlight-article .article #info {
    width: 100%;
}

@media screen and (max-width: 8in) {
    .highlight-article {
        font-size: 1.5em;
    }

    .highlight-article .article {
        display: grid;
        align-items: unset !important;
        grid-template-columns: unset !important;
        gap: 5px !important;
    }

    .highlight-article .article #info {
        height: max-content;
        margin-top: auto;
    }
}

/* Post Grids */
.post-grid-container {
    width: 100%;

    padding: 50px 0 50px 0;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 18.7px));
    gap: 25px;
}

.post-grid-container h2 {
    color: black !important;
    margin-top: 0;
}

.posts-grid img {
    aspect-ratio: 1/1;
    width: 100%;
}

.posts-grid .article {
    max-width: 100%;
}

@media screen and (max-width: 11in) {
    .posts-grid {
        grid-template-columns: repeat(4, calc(25% - 9.35px));
    }
}

@media screen and (max-width: 9in) {
    .posts-grid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 6in) {
    .posts-grid {
        grid-template-columns: 100%;
    }
}

/* Responsive Articles */
@media screen and (max-width: 7.5in) {
    .posts-grid article.article.adjustable img {
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 9in) {
    article.article.adjustable {
        flex-direction: column !important;
    }

    article.article.adjustable #info {
        border-radius: 0 0 var(--cardRadius) var(--cardRadius);
    }

    article.article.adjustable img {
        aspect-ratio: 4/3;
        width: 100%;
        border-radius: var(--cardRadius) var(--cardRadius) 0 0;
    }
}

@media screen and (max-width: 6in) {
    article.article.adjustable {
        align-items: stretch;
        flex-direction: row !important;
        gap: 0;
    }

    article.article.adjustable #info {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 var(--cardRadius) var(--cardRadius) 0;
    }

    article.article.adjustable img {
        width: 40% !important;
        border-radius: var(--cardRadius) 0 0 var(--cardRadius);
    }
}

/* @media screen and (max-width: 6in) {
    article.article.adjustable {
        
        gap: 0;
        border-radius: 0;
    }

    article.article.adjustable #info {
        border-radius: 0 var(--cardRadius) var(--cardRadius) 0;
    }

    article.article.adjustable img {
        border-radius: var(--cardRadius) 0 0 var(--cardRadius);
    }
} */

@media screen and (max-width: 4.5in) {
    article.article.adjustable {
        flex-direction: column !important;
    }

    article.article.adjustable #info {
        border-radius: 0 0 var(--cardRadius) var(--cardRadius);
    }

    article.article.adjustable img {
        width: 100% !important;
        aspect-ratio: 4/3;
        border-radius: var(--cardRadius) var(--cardRadius) 0 0;
    }
}

/* Videos */
section.videos-band {
    width: 100%;
    background-color: #101010;

    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 20px 0 20px 0;

    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #ffffff0e 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff0e 1px, transparent 1px);
    background-position: center;
}

section.videos-band h2 {
    color: white;
}

section.videos-grid {
    display: grid;
    grid-template-columns: repeat(3, calc((100% / 3) - 20px / 1.5));
    gap: 20px;
}

section.videos-grid img {
    width: 100%;
    aspect-ratio: 16/9;

    object-fit: cover;
    background-size: cover;
    background-position: center;
}

section.videos-grid > article {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

section.videos-grid .video-item {
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}

section.videos-grid .video-item:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

section.videos-grid p {
    color: white;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.3em;
    margin: 0;

}

section.videos-grid button {
    margin-top: 1.5em;
    z-index: 100;
}

/* About */
section.about-band {
    width: 100%;
    background-color: #101010;

    padding: 40px 0 40px 0;

    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
}

section.about h2 {
    color: white;
    margin: 0 0 10px 0;
}

section.about .split {
    display: grid;
    grid-template-columns: 50% 50%;

    width: 100%;
}

section.about .split > img {
    margin-top: auto;
    margin-bottom: auto;
}

section.about .split > div {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    color: white;
}

section.about .split h3 {
    font-size: 1.5em;
    font-weight: 800;
    font-stretch: 125%;
    margin: 0;
}

section.about .split p {
    font-size: 1.2em;
    font-stretch: 125%;

    color: #e4e4e4;
    margin: 0;
}

section.about .split a {
    color: #5a83ff;
    cursor: pointer;
    text-decoration: none;
}

section.about .split a:hover {
    text-decoration: underline;
}

section.about img {
    width: 100%;
    border-radius: 2em;
}

@media screen and (max-width: 9in) {
    section.about .split > div {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 7in) {
    section.about .split {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
}