{
    "smtp": {
        "host": "your.smtp.server",
        "port": 587,
        "secure": true/false
    },

    "sender": {
        "address": "your@domain.com",
        "name": "Mailing List"
    },

    "getform": {
        "id": "your-id",
        "token": "secret"
    },

    "auth": {
        "user": "you@icloud.com",
        "pass": "https://support.apple.com/en-gb/HT204397"
    }
}